#Ignorer alle .mp4-filer
*.mp4

#Ignorer alle .mov-filer
*.mov

#Ignorer alle .mov-filer
Meeting_Hamid/Results presentation.pptx

#Ignorer mappen Data
/Data/

#Ignorer alle .nii-filer og nii.gz og tiff
*.nii
*.nii.gz
*.tiff
Meeting_Anders_Isaac_21_10_24/~$Status.docx
Meeting_Anders_Isaac_21_10_24/~$Status.pptx
Results_oldwaterfront.pptx
Results.pptx
